/* Font */
body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.featurePage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-section {
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-title {
  font-size: 32px;
  font-weight: 700;
  color: #0b0b2b;
  margin-bottom: 10px;
}

.features-subtitle {
  font-size: 16px;
  color: #5f6d7e;
  max-width: 600px;
  margin: 0 auto 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 in a row */
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
  flex-grow: 1;
  align-items: center;
}

.feature-card {
  background-color: #f7fafd;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  transition: all 0.3s ease;
  border: 1px solid rgb(239, 236, 236);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-card:hover {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
}

.feature-icon {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}

.feature-icon.blue {
  background-color: #2962ff;
}

.feature-icon.green {
  background-color: #0f9d58;
}

.feature-icon.purple {
  background-color: #a142f4;
}

.feature-icon.orange {
  background-color: #ef6c00;
}

.feature-icon.red {
  background-color: #d93025;
}

.feature-title {
  font-size: 16px;
  font-weight: 600;
  color: #0b0b2b;
  margin: 0 0 6px;
}

.feature-description {
  font-size: 14px;
  color: #5f6d7e;
  line-height: 1.4;
  margin: 0;
}
